.correxit {
  display: flex;
  flex-flow: column;
}

.correxit h4 {
  margin: 5px 0;
}

.correxit > section {
  padding: 5px;
}

.correxit > section.correxit-body {
  flex: 1;
}

.correxit .correxit-monospace {
  background-color: var(--jp-layout-color2);
  font-family: var(--jp-code-font-family);
  font-size: small;
  overflow: hidden;
  margin: 2px 0;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.correxit-cell-mode-select svg {
  top: 6px !important;
}

.correxit .jp-ToolbarButtonComponent {
  display: block;
  margin: 0 0 5px;
  padding: 0 0 7px;
}

.correxit .jp-ToolbarButtonComponent svg {
  margin-right: 5px;
}

.correxit .jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

.correxit-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 10;
}

.correxit-target-cell {
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--jp-accent-color1);
}
