#correxit-sidebar.correxit-sidebar {
  min-width: 285px;
}

.correxit-sidebar {
  display: flex;
  flex-flow: column;
}

.correxit-sidebar h4 {
  font-weight: 600;
  font-size: var(--jp-ui-font-size1);
}

.correxit-sidebar > section {
  padding: 5px;
}

.correxit-sidebar > section.correxit-sidebar-body {
  flex: 1;
}

.correxit-sidebar .correxit-monospace {
  background-color: var(--jp-layout-color2);
  font-family: var(--jp-code-font-family);
  font-size: var(--jp-ui-font-size1);
  overflow: hidden;
  margin: 2px 0;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.correxit-sidebar-cell-config {
  height: 21px;
  justify-content: center;
  text-align: center;
  color: var(--jp-ui-font-color3);

  .correxit-add {
    margin: 0;
    min-width: 30%;
    padding: 0 1px;
    width: auto;
  }
}

.correxit-sidebar .jp-ToolbarButtonComponent > span {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-inverse-layout-color);
}

.correxit-sidebar .jp-ToolbarButtonComponent svg {
  margin-right: 5px;
}

.correxit-sidebar .correxit-inner-header .jp-ToolbarButtonComponent svg {
  transform: scale(1.5);
}

.correxit-sidebar .jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

.correxit-sidebar-inner-header {
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;
  align-items: center;
}

.correxit-assignment-propagate .jp-ToolbarButtonComponent {
  margin: 5px 0;
}

.correxit-sidebar-inner-header .jp-ToolbarButtonComponent:hover {
  background-color: transparent;
}

.correxit-sidebar p {
  background-color: var(--jp-layout-color4);
  border-color: var(--jp-border-color4);
  border-width: 2px;
  border-radius: 3px;
  color: var(--jp-ui-font-color4);
  font-size: var(--jp-ui-font-size1);
  margin: 25px 10px 5px;
  padding: 8px;
}

.correxit-sidebar-additional-operations {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin: 20px 0;
}

.correxit-assignment {
  border-color: var(--jp-border-color2);
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  background-color: var(--jp-layout-color2);
  margin: 0 2px;
  padding: 2px 0;
}

.correxit-assignment-assignee,
.correxit-assignment-roster {
  display: flex;

  > div {
    flex: 1;
  }

  label {
    display: inline-block;
    padding: 4px 0;
  }

  select,
  textarea {
    min-height: 28px;
    width: 95%;
  }

  select {
    height: 28px;
    margin-top: 3px;
  }
}

.correxit-assignment-propagate {
  pre {
    background-color: var(--jp-layout-color2);
    border: 1px solid;
    border-color: var(--jp-border-color2);
    color: var(--jp-ui-font-color2);
    font-size: var(--jp-ui-font-size0);
    height: 250px;
    width: 95%;
    padding: 2px;
    overflow: hidden auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  progress {
    width: 95%;
  }
}

.correxit-assignment-toggle.jp-mod-minimal {
  margin-right: 3px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
  padding: 3px 0;
}

.correxit-assignment-toggle.jp-mod-minimal > span {
  align-self: flex-start;
  padding-top: 3px;
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-answerable::after,
.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-comparable::after,
.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-correctable::after {
  --cxt-annotate-size: 28px;
  --cxt-annotate-icon: 16px 16px;

  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: var(--jp-brand-color0);
  box-shadow: none;
  width: var(--cxt-annotate-size);
  height: var(--cxt-annotate-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--cxt-annotate-icon);
  pointer-events: none;
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-answerable::after {
  background-image: url('icons/answerable.svg');
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-comparable::after {
  background-image: url('icons/comparable.svg');
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-correctable::after {
  background-image: url('icons/correctable.svg');
}
