.correxit-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 10;
}

.correxit-target-cell {
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 3px transparent;
}

.correxit-target-cell.cxt-mod-include {
  box-shadow: 0 0 0 3px var(--jp-accept-color-active);
}

.correxit-target-cell.cxt-mod-exclude {
  box-shadow: 0 0 0 3px var(--jp-reject-color-active);
}
