.correxit-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.4;
  z-index: 10;
}

.correxit-target-cell {
  --correxit-target-ring-width: 3px;

  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 var(--correxit-target-ring-width) transparent;
  outline: none;
}

.correxit-target-cell.cxt-mod-include {
  box-shadow: 0 0 0 var(--correxit-target-ring-width)
    var(--jp-accept-color-active);
}

.correxit-target-cell.cxt-mod-exclude {
  box-shadow: 0 0 0 var(--correxit-target-ring-width)
    var(--jp-reject-color-active);
}
