#correxit-sidebar.correxit-sidebar {
  min-width: 285px;
}

.correxit-sidebar {
  --correxit-sidebar-control-width: 95%;
  --correxit-sidebar-font-size: var(--jp-ui-font-size1);
  --correxit-sidebar-section-padding: 5px;

  display: flex;
  flex-flow: column;
}

.correxit-sidebar h4 {
  font-size: var(--correxit-sidebar-font-size);
  font-weight: 600;
}

.correxit-sidebar h5 {
  font-size: var(--correxit-sidebar-font-size);
  margin: 0;
  font-weight: 300 !important;
}

.correxit-sidebar > section {
  padding: var(--correxit-sidebar-section-padding);
}

.correxit-sidebar > section.correxit-sidebar-body {
  flex: 1;
}

.correxit-sidebar-body > textarea {
  background-color: var(--jp-layout-color2);
  color: var(--jp-ui-font-color2);
  display: block;
  font-size: var(--correxit-sidebar-font-size);
  justify-content: center;
  height: 35px;
  margin: 0 auto 10px;
  overflow-y: auto;
  width: 85%;
}

.correxit-sidebar .correxit-monospace {
  background-color: var(--jp-layout-color2);
  font-family: var(--jp-code-font-family);
  font-size: var(--correxit-sidebar-font-size);
  margin: 2px 0;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.correxit-sidebar-cell-report {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2px 20px 8px;
}

.correxit-sidebar-cell-config {
  justify-content: center;
  text-align: center;
  color: var(--jp-ui-font-color3);

  .correxit-configure {
    margin: 2px;
    min-width: 45%;
    padding: 0 1px;
    width: auto;
  }
}

.correxit-sidebar .jp-ToolbarButtonComponent > span {
  color: var(--jp-inverse-layout-color);
  font-size: var(--correxit-sidebar-font-size);
}

.correxit-sidebar .jp-ToolbarButtonComponent svg {
  margin-right: 5px;
}

.correxit-sidebar .jp-ToolbarButtonComponent.lm-mod-hidden {
  display: none;
}

.correxit-assignment-propagate .jp-ToolbarButtonComponent {
  margin: 5px 0;
}

.correxit-sidebar-inner-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 5px 15px;

  .jp-ToolbarButtonComponent:hover {
    background-color: transparent;
  }
}

.correxit-sidebar p {
  background-color: var(--jp-layout-color4);
  border-radius: 3px;
  border-color: var(--jp-border-color4);
  border-width: 2px;
  color: var(--jp-ui-font-color4);
  font-size: var(--correxit-sidebar-font-size);
  margin: 25px 10px 5px;
  padding: 8px;
}

.correxit-sidebar-header p {
  margin: 5px 6px 0;
}

.correxit-sidebar-additional-operations {
  display: flex;
  flex-flow: column;
  align-items: start;
  margin: 20px 0;
}

.correxit-assignment {
  background-color: var(--jp-layout-color2);
  border-radius: 3px;
  border-color: var(--jp-border-color2);
  border-style: solid;
  border-width: 2px;
  margin: 0 2px;
  padding: 2px 0;
}

.correxit-assignment-assignee,
.correxit-assignment-roster {
  display: flex;

  > div {
    flex: 1;
  }

  label {
    display: inline-block;
    padding: 4px 0;
  }

  select,
  textarea {
    min-height: 28px;
    width: var(--correxit-sidebar-control-width);
  }

  select {
    height: 28px;
    margin-top: 3px;
  }
}

.correxit-assignment-expiration.cxt-mod-expired {
  color: var(--jp-warn-color0);
}

.correxit-assignment-expiration {
  padding: 2px 0 2px 26px;

  label {
    display: inline-block;
    font-size: var(--jp-ui-font-size0);
    padding: 4px 0 2px;
  }

  input[type='datetime-local'] {
    font-size: var(--correxit-sidebar-font-size);
    height: 28px;
    width: var(--correxit-sidebar-control-width);
  }
}

.correxit-assignment-propagate {
  pre {
    background-color: var(--jp-layout-color2);
    border: 1px solid;
    border-color: var(--jp-border-color2);
    color: var(--jp-ui-font-color2);
    font-size: var(--jp-ui-font-size0);
    height: 250px;
    overflow: hidden auto;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: var(--correxit-sidebar-control-width);
  }

  progress {
    width: var(--correxit-sidebar-control-width);
  }
}

.correxit-toggle.jp-mod-minimal {
  margin-right: 3px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
  padding: 3px 0;
}

.correxit-toggle.jp-mod-minimal > span {
  align-self: flex-start;
  padding-top: 3px;
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-answerable::after,
.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-comparable::after,
.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-correctable::after,
.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-reviewable::after {
  --cxt-annotate-size: 28px;
  --cxt-annotate-icon: 16px 16px;

  border-top-right-radius: var(--jp-border-radius);
  border-bottom-right-radius: var(--jp-border-radius);
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: var(--md-blue-400);
  box-shadow: none;
  width: var(--cxt-annotate-size);
  height: var(--cxt-annotate-size);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--cxt-annotate-icon);
  pointer-events: none;
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-answerable::after {
  background-image: url('../monitor/icons/answerable.svg');
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-comparable::after {
  background-image: url('../monitor/icons/comparable.svg');
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-correctable::after {
  background-image: url('../monitor/icons/correctable.svg');
}

.jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-reviewable::after {
  background-image: url('../monitor/icons/reviewable.svg');
}

.jp-Notebook
  .jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-correct
  .jp-InputArea-editor {
  border: 1px solid var(--md-green-300);
  border-radius: 6px;
}

.jp-Notebook
  .jp-Cell.jp-CodeCell:not(.jp-mod-active).cxt-mod-incorrect
  .jp-InputArea-editor {
  border: 1px solid var(--md-red-300);
  border-radius: 6px;
}
