.correxit-configure {
  background-color: var(--jp-inverse-layout-color3);
  border: 1px groove var(--jp-layout-color3);
  border-radius: 0;
  text-align: center;

  &:hover {
    background-color: var(--correxit-insistent-color);
  }

  &.lm-mod-toggled {
    background-color: var(--correxit-insistent-color);
    box-shadow: none;
  }
}
